:root {
    --primary-color: #379DFB;
    --secondary-color: #6c757d;
    --text-color: #333;
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 2vw;
    background-color: var(--primary-color);
  }
  p{
    color: #FFF;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
  }
  


  @media (max-width:425px) {
    p{
      font-size: 3vw;
    }
  }
  