:root {
  --primary-color: #379DFB;
  --secondary-color: #6c757d;
  --text-color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 60vw;
  background-color: #fff;

}

.card-header {
  padding: 2vw;
  text-align: left;
  font-size: 20px;
  background-color: var(--primary-color);
  color: white;
  height: 2vw;
  color: #FFF;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  border-radius: 10px 10px 0px 0px;

}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #379DFB;
}

.input-div {
  display: flex;
  justify-content: space-evenly;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.label-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;

}

label {
  margin: 1vw;
  color: #000;
  font-size: 20px;
  font-family: Poppins;
}

.label-group label::after {
  content: " *";
  color: red;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin: .5vw;
  border-radius: 5px;
  border: 1px solid #379DFB;
}


.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  width: 10vw;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 100px;
  color: #FFF;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;

}

.btn-secondary {
  background-color: white;
  color: var(--secondary-color);
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  opacity: 0.4000000059604645;
  margin: 0;
}

@media (max-width:768px) {
  .card-header{
    font-size: 2vw;
  }

   label{
     font-size: 2vw;
   }

   .form-group{
     width: 50%;
   }

   .btn{
     padding: 1vw;
     width: 15vw;
     font-size: 2vw;
   }
}

@media (max-width:425px) {
  .container{
    height: 70vh;
  }
  .card{
    width: 80vw;
  }
  .form-control{
    padding: 1vw;
    margin-bottom: 1vw;
  }
}