.App {
  text-align: center;
}

.current-employees {
  display: flex;
  flex-direction: column;
  height: 60vh;
  background-color: #379DFB;
  padding: 0vw 5vw 5vw 5vw;
  align-items: center;
}

.title {
  color: #FFF;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 600;
  text-align: left;
  margin: 20px;
}

.employee-list {
  margin-top: 2vw;
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: flex-start;


}